export(read.taqman, checkValidTaqmanFilenames, exprs.well.order, "exprs.well.order<-")
exportClasses(qPCRSet)
importClassesFrom(Biobase,
                  AnnotatedDataFrame,
                  AssayData,
                  MIAME,
                  Versioned,
                  VersionedBiobase,
                  Versions,
                  eSet,
                  ExpressionSet)
importFrom("Biobase", "exprs")
importFrom("Biobase", "exprs<-")
